<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hp.photoappandroid94">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/appphoto"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.AlbumActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AlbumDetailActivity"
            android:label="@string/Photos" />
        <activity android:name=".activities.AlbumSearchActivity" />
        <activity
            android:name=".activities.AlbumSlideshowActivity"
            android:label="@string/slideshow"
            android:theme="@style/AppTheme.GrayStatusBar">
        </activity>
    </application>

</manifest>